<po-page-default>
  <div class="page-wrapper">
    <po-button class="po-pt-2" p-icon="an an-arrow-left" p-label="Voltar" p-kind="tertiary"
      (p-click)="goToHome()"></po-button>

    <form [formGroup]="form">
      <!-- 1. Informações do Sistema de IA -->
      <div class="container-wrapper po-pt-2">
        <po-widget class="po-lg-10" p-title="1. Informações do Sistema de IA">
          <po-input class="po-lg-4 po-md-12" name="nome" formControlName="nome" p-label="Nome IA"
            p-additional-help-tooltip="Informe o nome atribuído ao sistema de IA ou modelo utilizado na análise."
            p-help="Ex: IA Diagnóstico Médico" p-clean="true">
          </po-input>

          <po-combo class="po-lg-4 po-md-6" name="fase" formControlName="fase" p-label="Fase" [p-options]="fasesIA"
            p-additional-help-tooltip="Fase do ciclo de vida da IA considerada na análise." p-help="Ex: Inferência"
            p-clean="true" [p-required]="true" [p-show-required]="true">
          </po-combo>

          <po-number formControlName="inferencias" class="po-lg-4 po-md-6" p-label="Inferências"
            p-additional-help-tooltip="Quantidade total de inferências realizadas durante o uso da IA na fase analisada."
            p-help="Ex: 25000" p-clean="true" p-required="true" [p-show-required]="true">
          </po-number>
        </po-widget>
      </div>

      <!-- 2. Recursos Computacionais -->
      <div class="container-wrapper po-pt-2">
        <po-widget class="po-lg-10" p-title="2. Recursos Computacionais">
          <po-number formControlName="energiaConsumida" class="po-lg-4 po-md-6" p-label="Energia Consumida (kWh)"
            p-additional-help-tooltip="Total de energia elétrica utilizada durante a execução do processo de IA."
            p-help="Ex: 150.5" p-clean="true" p-required="true" [p-show-required]="true">
          </po-number>

          <po-number formControlName="uevEnergia" class="po-lg-4 po-md-6" p-label="UEV Energia (sej/kWh)"
            p-additional-help-tooltip="Unidade de emergia da energia consumida, baseado na fonte energética utilizada."
            p-help="Ex: 84000" p-clean="true" p-required="true" [p-show-required]="true">
          </po-number>
        </po-widget>
      </div>

      <!-- 3. Recursos Humanos e Serviços -->
      <div class="container-wrapper po-pt-2">
        <po-widget class="po-lg-10" p-title="3. Recursos Humanos e Serviços">
          <po-number formControlName="horasTrabalho" class="po-lg-4 po-md-6" p-label="Horas de Trabalho"
            p-additional-help-tooltip="Soma de todas as horas humanas envolvidas direta ou indiretamente no processo de IA."
            p-help="Ex: 120 (80h de desenvolvedor + 40h de analista)" p-clean="true" p-required="true" [p-show-required]="true">
          </po-number>

          <po-number formControlName="uevHora" class="po-lg-4 po-md-6" p-label="UEV hora (sej/h)"
            p-additional-help-tooltip="Unidade de emergia atribuída por hora de trabalho, obtida por literatura científica ou estudos econômicos."
            p-help="Ex: 320000" p-clean="true" p-required="true" [p-show-required]="true">
          </po-number>
        </po-widget>
      </div>

      <!-- 4. Materiais e Equipamentos -->
      <div class="container-wrapper po-pt-2">
        <po-widget class="po-lg-10" p-title="4. Materiais e Equipamentos">
          <po-number formControlName="custoEquipamento" class="po-lg-4 po-md-6" p-label="Custo Equipamento (R$)"
            p-additional-help-tooltip="Valor total pago no(s) equipamento(s) utilizados no processo de IA."
            p-help="Ex: 20000" p-clean="true" p-required="true" [p-show-required]="true">
          </po-number>

          <po-number formControlName="uevEquipamento" class="po-lg-4 po-md-6" p-label="UEV Equipamento (sej/R$)"
            p-additional-help-tooltip="Unidade de emergia por real (R$) investido em equipamento." p-help="Ex: 1800000"
            p-clean="true" p-required="true" [p-show-required]="true">
          </po-number>
        </po-widget>
      </div>
    </form>

    <div class="po-row po-pt-2 footer">
      <po-button p-label="Limpar" (p-click)="resetForm()"></po-button>
      <po-button p-label="Calcular" p-kind="primary" (p-click)="onSubmit()"></po-button>
    </div>
  </div>
</po-page-default>