/* You can add global styles to this file, and also import other style files */
po-button {
  --color: #4E9525;
  --color-hover: #2E5A1C;
  --background-hover: #A0C878;
  --color-pressed	: #1B4B36;
  --background-pressed: #9DC08B;
}

po-table {
  --background-color-headline: #E6F4EA ;
}

.container-wrapper {
  display: flex;
  justify-content: center;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.footer {
  justify-content: center;
  gap: 1rem;
}
